html, body {
    height: 100%;
    margin: 0;
}

:root {
    --black: #222831;
    --dark-grey: #31363F;
    --teal: #76ABAE;
    --white: #EEEEEE;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--dark-grey);
}

.container {
    flex: 1;
}

